<div class="itemMain">
<div class="item">
<div class="leftSection">
<img src={{item.images[0].url}}/>
</div>
<div class="rigthSection">
    <div class="titleSection">
        <h2>{{item.name}}</h2>
    </div>

    <div style="display: flex;">
        <label>Vendor:</label> <p>{{item.vendor}}</p>
    </div>
    <div style="display: flex;">
        <label>Barcode:</label> <p>{{item.barcode}}</p>
    </div>
    <div style="display: flex;">
        <label>Price:</label> <p>{{item.price}}</p>
    </div>
    <div style="display: flex;">
        <label>tags:</label> <p>{{item.tags}}</p>
    </div>
    <div style="display: flex;">
        <label>Description:</label> {{item.description}}
    </div>
</div>
</div>
</div>
