
<div class="store" style="width: 100%; display: flex; margin: 10px;">
    <div class="leftSection">
        <img src={{store.logo.url}}/>
    </div>
    <div  class="rigthSection">
    <div class="titleSection">
        <h2>{{store.title}}</h2>
    </div>
    
    <div class="infoSection">
        <div style="display: flex;">
            <label>Address:</label><p>{{store.address}}</p>
        </div>
        <div style="display: flex;">
            <label>City:</label> <p>{{store.city}}</p>
        </div>
        <a class="btn" routerLink = "search">Details</a>
    </div>
</div>

</div>